PORT=4000
FIRESTORE_OT_COLLECTION=ordenes_trabajo
FIRESTORE_CLIENTES_COLLECTION=Clientes
FIRESTORE_CLIENTES_VEHICULOS_COLLECTION=ClientesVehiculos
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_STORAGE_BUCKET=
